@mixin generate-layout($prop) {
  .layout-row, .layout-row--reverse {
    &-#{$prop} {
      @include breakpoint($prop) {
        @include display_flex;
      }
      > {
        @each $brkpoint_name,
				$brkpoint_value in $breakpoints {
					@include breakpoint($brkpoint_name) {
						@include flexValueClasses(layout-row, 10, 10, 0);
						@include flexValueClasses(layout-row, 10, 10, 0, $brkpoint_name);
					}
				}
      }
    }
  }
  .layout-row {
    &-#{$prop} {
      @include breakpoint($prop) {
        flex-direction: row;
      }
    }
    &--reverse-#{$prop} {
      @include breakpoint($prop) {
        flex-direction: row-reverse;
      }
    }
  }

  .layout-column, .layout-column--reverse {
    &-#{$prop} {
      @include breakpoint($prop) {
        @include display_flex;
      }
      > {
        @each $brkpoint_name,
				$brkpoint_value in $breakpoints {
					@include breakpoint($brkpoint_name) {
						@include flexValueClasses(layout-column, 10, 10, 0);
						@include flexValueClasses(layout-column, 10, 10, 0, $brkpoint_name);
					}
				}
      }
    }
  }

  .layout-column {
    &-#{$prop} {
      @include breakpoint($prop) {
        flex-direction: column;
      }
    }
    &--reverse-#{$prop} {
      @include breakpoint($prop) {
        flex-direction: column-reverse;
      }
    }
  }
}